@import "./vendors/modern-normolize";
@import "./utils/variables";
@import "./base/fonts";
@import "./base/common";
@import "./base/container";

@import "./components/button";
@import "./components/menu";
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--animation);
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}
.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--white-color);
}
.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Хэдэр */

.container__header {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.header__logo {
  margin-right: 93px;
}
.logo__accent {
  color: var(--accent-color);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link,
.contacts__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu__link--active {
  position: relative;
  color: var(--accent-color);
}
.menu__link--active::after {
  position: absolute;
  left: 0;
  bottom: -13px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contacts {
  display: flex;
  margin-left: auto;
  color: var(--secondary-text-color);
}

.contacts__link {
  display: inline-flex;
  align-items: center;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero__container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page__title {
  margin-left: auto;
  margin-right: auto;

  max-width: 690px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Приимущества advantages*/

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages__item {
  --grid-item: 4;
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.advantages__antenna::before {
  background-image: url(../images/advantages/antenna.svg);
}

.advantages__clock::before {
  background-image: url(../images/advantages/clock.svg);
}
.advantages__diagram::before {
  background-image: url(../images/advantages/diagram.svg);
}
.advantages__astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
}

.advantages__content {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* Чем мы занимаемся work */
.work {
  padding-top: 0;
}
.work__item {
  position: relative;
}
.work__content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* Наша команда team */
.section--dark-bg {
  background-color: #f5f4fa;
}

.team__item {
  --grid-item: 4;
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__body {
  padding: 30px 0;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__content {
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}
/* Постоянные клиенты */

.clients__item {
  --grid-item: 6;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--animation);
}
.clients__icon {
  fill: #afb1b8;
  transition: fill var(--animation);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
/* Портфолио portfolio */

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__navigation {
  display: flex;
  margin-bottom: 50px;
}
.portfolio__link {
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--animation);
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio__link:hover,
.portfolio__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.navigation-list__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list__card {
  padding: 20px 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  transition: transform var(--animation);
  overflow: auto;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}
.portfolio__link:hover .portfolio__description,
.portfolio__link:focus .portfolio__description {
  transform: translateY(-100%);
}
.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio__item {
  line-height: 1.87;
  color: #757575;
}
.portfolio-list__name {
  margin-bottom: 0;
}

/* Футер */
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address__link {
  text-decoration: none;
  color: var(--white-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.social-icons__icon--dark-bg {
  fill: var(--white-color);
}
.footer__title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);
}
.footer__wrap {
  display: flex;
  align-items: baseline;
}

.footer-form__form-field {
  width: 353px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form__form-field::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.button-subscribe {
  margin-left: 12px;
}
.button-subscribe__icon {
  margin-left: 10px;
}
/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--animation);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  transition: transform var(--animation), opacity var(--animation);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2.3);
  opacity: 0.7;
}
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: fill var(--animation), background-color var(--animation);

  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
  outline: none;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}
.form__lable {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;

  color: var(--secondary-text-color);
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation);
}
.form-field__wrap {
  position: relative;
}
.form-input__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  transition: fill var(--animation);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.form__input:focus + .form-input__icon {
  fill: var(--accent-color);
}
.form-field__title {
  display: block;
  margin-bottom: 4px;
}
.form__textarea {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation);
}
.form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.textarea {
  margin-bottom: 20px;
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form__agreement {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__icon-check {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  transition: background-color var(--animation), border var(--animation);
}
.form__agreement-text {
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}
.form__checkbox:checked + .form__icon-check {
  background-color: var(--accent-color);
  border: none;
}
.form__agreement-link {
  font-size: 14px;
  line-height: 1, 71;

  color: var(--accent-color);
}
.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
