.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header__contacts {
  margin-left: auto;
  color: var(--secondary-text-color);
}
.header__logo {
  margin-right: 93px;
}
.container__header {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
