.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--dark-bg {
  background-color: #f5f4fa;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
